.App {
  width: 94%;
  height: 100%;
  padding: 20px;
  color: white;
  font-family: "Space Mono";
  font-feature-settings: "liga" 0;
}

.cli-text {
  font-size: 20px;
  display: flex;
}

.cli-input {
  font-family: "Space Mono";
  font-feature-settings: "liga" 0;
  background-color: #282c34;
  color: white;
  font-size: 20px;
  border: 0;
  outline: none;
  display: block;
}

.user-span {
  font-size: 20px;
  color: #fce300;
  padding-right: 8px;
}

.dir-span {
  font-size: 20px;
  color: #e05a00;
  padding-right: 8px;
}

.input-div {
  font-family: "Space Mono";
  font-feature-settings: "liga" 0;
  display: flex;
}

.cli-result {
  font-size: 20px;
}

.cli-result div {
  height: 29px
}